/* styles/Font.module.css */

/* .fontAlumni100 {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 100;
}

.fontAlumni500 {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 500;
} */