/* styles/Footer.module.css */
/* コンポーネント使用はindex.jp */
.section1 {
    background: #ffffff;
    color: #000;
    padding: 50px 0 100px;
    position: relative;
}

.section1::before {
    border-color: transparent #000000 transparent transparent;
    border-style: solid;
    border-width: 50px 100vw 0 0;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
}
.section2 {
    background:transparent;
    padding: -50px 0 100px;
    position: relative;
}

.section2::before {
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 50px 100vw 0 0;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    z-index:30
}

.gradworkdetail {
    background-image: linear-gradient(to top, #ffffff 1%, #adacac 100%);
}