/* styles/Footer.module.css */
/* コンポーネント使用はindex.jp */

/* 下レイヤー：背景グレー：淡い */
.section1 {
  background: #f7f7f7;
  color: #000;
  padding: 50px 0 100px;
  position: relative;
}
/* 上レイヤー：背景グレー：濃い */
.section1::before {
  border-color: transparent #e3e3e3 transparent transparent;
  border-style: solid;
  border-width: 50px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

.section2 {
  background: transparent;
  padding: -50px 0 100px;
  position: relative;
}
.section2::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 50px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  z-index: 30;
}

/* レイヤー同レベル：white */
.section3 {
  background: #fff;
  color: #000;
  padding: 50px 0 100px;
  position: relative;
}
.section3::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 50px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

/* レイヤー同レベル：f7f7f7の下に黒 */
.section4 {
  background: #f7f7f7;
  color: #000;
  padding: 50px 0 100px;
  position: relative;
}
.section4::before {
  border-color: transparent #000 transparent transparent;
  border-style: solid;
  border-width: 50px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

/* レイヤー同レベル：白の下に黒 */
.section5 {
  background: #fff;
  color: #000;
  padding: 50px 0 100px;
  position: relative;
}
.section5::before {
  border-color: transparent #000 transparent transparent;
  border-style: solid;
  border-width: 50px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

.gradworkdetail {
  background-image: linear-gradient(to top, #ffffff 1%, #adacac 100%);
}

.fontAlumni100 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 100;
}

.fontAlumni500 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
}

.redline::before {
  content: "";
  display: block;
  border-left: 1px solid #e60010;
  height: 24px;
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  left: 0px;
  transform: translateY(-50%) skew(-15deg);
  transform-origin: bottom;
  width: 0;
}
.redlineRow::before {
  content: "";
  display: block;
  border-left: 1px solid #e60010;
  height: 24px;
  position: absolute;

  /* transform: translateY(-50%); */
  left: 0px;
  transform-origin: left;
  width: 0;
}
.redlineRow {
  left: 0;
  transform-origin: left;
}
